# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/
jspm_packages/
.npm
*.tgz
.yarn-integrity

# Builds
dist/
dist_esm/
build/Release
.env
